<!DOCTYPE html>
<html lang="es">
<head>
    <title> TESIS IA | Inicio</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Logu -->
    <link rel="shortcut icon" href="../util/imagen/favicon.ico">
    
       
    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="../util/fonts/fontawesome-free-5.1.0-web/css/all.css" />
    <link rel="stylesheet" type="text/css" href="../util/fonts/themify-icons/themify-icons.css" />
    <link rel="stylesheet" type="text/css" href="../util/plugin/animate/animate.min.css" />
    
    <!-- Tema CSS -->
    <link rel="stylesheet" type="text/css" href="../util/tema/style.css" />
    <link rel="stylesheet" href="../util/bootstrap/dist/css/bootstrap-grid.min.css" type="text/css">

    
        
</head>
<body>
       
    <!-- Cargar -->
    <div class="preloader">
        <img src="../util/imagen/preloader.svg" alt="Pre-loader">
    </div>
        
    <!-- Inicio de Sesion -->
    <section class="p-0 d-flex align-items-center">
        <div class="container-fluid">
            <div class="row" >         
                <!-- Izquierda -->
                <div class="col-12 col-md-5 col-lg-4 d-md-flex align-items-center bg-grad h-sm-100-vh">
                    <div class="w-100 p-3 p-lg-5 all-text-white">
                        <div class="justify-content-center align-self-center">
                            <!-- SVG Logo -->
                            <h1 class="font-weight-light">
                                <img src="../util/imagen/favicon.ico" class="img-circle">
                                DETECCIÓN DE RIESGOS CARDIOVASCULARES
                            </h1>
                            <hr>
                            <h3 class="font-weight-light">Tu salud nuestro compromiso</h3>
                        </div>
                        <!--<ul class="list-group list-group-borderless mt-4">
                        <li class="list-group-item text-white"><i class="fa fa-check" aria-hidden="true"></i>Tu salud nuestro compromiso</li>
                        </ul>-->
                    </div>
                </div>
                <!-- Derecha -->
                <div class="col-12 col-md-7 col-xl-8 mx-auto my-5">
                    <div class="row h-100">
                        <div class="col-12 col-md-10 col-lg-5 text-left mx-auto d-flex align-items-center">
                            <div class="w-100">
                                <h2 class="">Bienvenido!</h2>
                                <h5 class="font-weight-light">Ingresa tus datos para iniciar sesión</h5>
                                <!-- Llamar al controlador-->
                                <form action="../controller/sesion.validar.controller.php" method="post">
                                <div class="form mt-4 " >
                                    <div>
                                        <p class="text-left mb-2">Correo  electrónico</p>
                                        <span class="form-group"><input type="email" class="form-control" placeholder="E-mail" name="txtEmail" required="" autofocus=""></span>
                                    </div>
                                    <div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="text-left mb-2">Contraseña</p>
                                        </div>
                                        <span class="form-group"><input type="password" class="form-control" placeholder="*********" name="txtClave" required=""></span>
                                    </div>
                                    <div class="row align-items-center no-gutters m-0">
                                        <div class="col-6 col-md-8">
                                            <span class="text-muted">¿No tiene una cuenta? <a href="crearcuenta.php">Cree una</a></span>
                                        </div>
                                        <div class="col-6 col-md-4 text-right">
                                            <button class="btn btn-dark ">Ingresar</button>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Inicio de Sesion -->
        
    <!--Global JS-->
    <script src="../util/plugin/jquery/jquery-2.2.3.min.js"></script>
    <script src="../util/plugin/popper/popper.min.js"></script>
    <script src="../util/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../util/plugin/jquery-easing/jquery.easing.min.js"></script>
    <!--Functions JS-->
    <script src="../util/tema/functions.js"></script>

</body>
</html>
